.login-form {
  &-item {
    margin-bottom: 30px;

    &-email,
    &-password {
      height: 48px;
    }

    &-submit {
      width: 200px !important;
    }
  }

  .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    &-message {
      font-size: 14px;
      padding: 7px 20px 7px 20px;
      background-color: #fff2f0;
      border: 1px solid #ffccc7;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }
}
